body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    padding: 20px;
    background-color: rgb(234, 230, 225);
    font-family: Arial, sans-serif;
}
